@mixin resetBtnStyle($bgColor: transparent, $color: white) {
  background: $bgColor;
  border: none;
  color: white;
  cursor: pointer;
}

@mixin flexer(
  $direction: row,
  $justify: normal,
  $align: normal,
  $wrap: nowrap,
  $gap: 0px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin invisibleHeading() {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin absolutePosition(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $z-index: auto
) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin svgFiller($color: white) {
  fill: currentColor;
  color: $color;
}
