$Dark_Blue: #1c2431; /*intro and email sign up background*/
$Dark_Blue: #181f2a; /*main background*/
$Dark_Blue: #0b1523; /*footer background*/
$Dark_Blue_Reviews: #202a3c; /*testimonials background*/

$Cyan: #65e2d9; /*inside call-to-action gradient*/
$Blue: #339ecc; /*inside call-to-action gradient*/
$Light_Red: #ff4242; /*error*/

$White: #ffffff;
