@use "../css/normalize.css";
@use "./variables" as *;
@use "./fonts";
@use "./global-rules";
@use "./mixins" as *;

html{
  
}

body {

  background: {
    color: #1c2230;
  }
  color: $White;
  font: {
    family: "Open Sans", sans-serif;
    size: 14px;
    weight: 400;
  }
}
main {
  position: relative;

  min-height: 100vh;
  background: {
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: {
      image: url("../images/bg-curvy-desktop.svg");
      repeat: no-repeat;
      size: contain;
      position: bottom calc(650px + 70vw) left 0;
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: calc(650px + 70vw);
    background: {
      color: $Dark_Blue_BG;
      size: 100% 100%;
      position: bottom 0px left 0px;
    }
  }
}

main > *:not(header) {
  margin-top: 150px;
}

.content {
  width: 85%;
  margin: 0 auto;
}

.header {
  &__logo-link {
    flex-shrink: 0.8;
  }
  &__logo-img {
    max-width: 100%;
    fill: currentColor;
    color: $White;
    transition: color 225ms 0s ease-out;
    &:hover {
      color: $Cyan;
    }
  }
}

header .content {
  @include flexer(row, space-between, center, nowrap, 10px);
  padding-top: 35px;
}

.main-nav {
  &__list {
    $gap: 30px;
    list-style-type: none;
    @include flexer(
      row,
      start,
      center,
      nowrap,
      clamp(0.5 * $gap, 0.3394 * $gap + 1.3761vw, 1 * $gap)
    );
  }
  &__link {
    display: block;
    color: $White;
    text-decoration: none;
    white-space: nowrap;
    /*relative to after*/
    position: relative;
    transition: color 225ms 0s ease-out;

    &::after {
      content: "";
      background-color: $Cyan;
      display: block;
      position: absolute;
      left: 0px;
      bottom: -1px;
      width: 0px;
      height: 1px;
      font-weight: 400;
      transition: width 225ms 0s ease-out;
    }

    &:hover {
      color: $Cyan;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.intro {
  & .content {
    $gap: 50px;
    @include flexer(column, start, center, nowrap, 25px);
    text-align: center;
  }

  &__hero {
    width: 100%;
    &__img {
      max-width: 100%;
    }
  }

  &__header {
    font-family: "Raleway";
    max-width: 29ch;
    width: 100%;
    font: {
      size: 2rem;
      weight: 700;
    }
  }

  &__description {
    max-width: 52ch;
    width: 100%;
    font-size: 1.5rem;
  }

  &__start-btn {
    @include resetBtnStyle(
      linear-gradient(
        90deg,
        rgba(101, 226, 217, 1) 0%,
        rgba(51, 158, 204, 1) 87%
      )
    );
    border-radius: 50px;
    padding: 18px;
    max-width: 250px;
    width: 100%;
    transform-origin: center center;
    transition: filter 225ms 0ms ease-out;

    &:hover {
      background: #8cdae4;
    }
  }
}

.features {
  .content {
    max-width: 1200px;
    --gap: 30px;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(350px, calc((100% - var(--gap)) / 2), 650px), 1fr)
    );
  }

  .feature-card {
    max-width: 100%;
    @include flexer(column, start, center, nowrap, 10px);
    text-align: center;
    &__logo {
      flex-basis: 85px;
    }

    &__description {
      width: 100%;
      max-width: 52ch;
    }
  }
}

.stay-productive {
  & .content {
    @include flexer(row, center, center, nowrap, 65px);
  }
  &__hero {
    flex-shrink: 0.5;
  }

  &__right > * {
    margin-bottom: 20px;
  }

  &__hero-img {
    max-width: 100%;
  }

  &__header {
    font-size: clamp(1.4rem, -0.4235rem + 3.3284vw, 3rem);
    line-height: 1.05;
  }

  &__description {
    font-size: clamp(0.9rem, 0.6721rem + 0.416vw, 1.1rem);
    max-width: 64ch;
    width: 100%;
  }

  &__learn-more-link {
    color: $Cyan;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;

    &,
    & svg {
      transition: color 225ms 0s ease-out;
    }

    &:hover,
    &:hover svg {
      color: $White;
    }

    &::before {
      content: "";
      background-color: $Cyan;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -1px;
      left: 0px;
      transition: background-color 225ms 0s ease-out;
    }

    &:hover::before {
      background-color: $White;
    }

    svg {
      color: $Cyan;
      fill: currentColor;
    }
  }
}

.reviews {
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
  }
}

.review-card {
  border-radius: 4px;
  background-color: $Dark_Blue_Reviews;
  padding: 20px;
  box-shadow: 5px 5px 5px 0px rgba(18, 23, 32, 1);
  &:nth-child(1) {
    position: relative;
  }
  &:nth-child(1)::before {
    content: url("../images/bg-quotes.png");
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
  }

  &__text {
    margin-block: 25px;
  }
  &__reviewer {
    @include flexer(row, flex-start, center, nowrap, 7px);
  }
  &__avatar {
    border-radius: 50%;
    max-width: 24px;
  }
  &__position,
  &__name {
    font-size: 0.6rem;
  }

  &__name {
    font-weight: 700;
  }
}

.sign-up-section {
  background-color: $Dark_Blue_email;
  border-radius: 5px;
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px 70px;
  box-shadow: 5px 5px 5px 0px rgba(18, 23, 32, 1);

  &__header {
    font-size: clamp(1.5rem, 1.3571rem + 0.625vw, 2rem);
    text-align: center;
    margin-block: 25px;
  }

  &__description {
    text-align: center;
    font-size: clamp(0.8rem, 0.5721rem + 0.416vw, 1rem);
  }

  &__form {
    @include flexer($wrap: wrap, $gap: 20px);
    margin-block: 25px;

    /*relative to error msg*/
    position: relative;
  }

  #email-input,
  #submit-btn {
    border: none;
    border-radius: 25px;
    padding: 15px;
  }

  #email-input {
    flex-grow: 12;
    flex-basis: 300px;
  }

  #email-input:focus {
    outline: none;
  }

  #submit-btn {
    @include resetBtnStyle(
      linear-gradient(
        90deg,
        rgba(101, 226, 217, 1) 0%,
        rgba(51, 158, 204, 1) 87%
      )
    );
    flex-grow: 1;
    flex-basis: 150px;
    font-weight: 700;

    &:hover {
      background: #8cdae4;
    }
  }

  .error-msg {
    display: none;
    position: absolute;
    bottom: -25px;
    left: 10px;
    font-weight: 700;
    font-size: 12px;
    color: $Light_Red;
  }
}

$sign-up-breakpoint: 870px;
@media only screen and (max-width: $sign-up-breakpoint) {
main {
  position: relative;

  min-height: 100vh;
  background: {
  }
  &:before {
    background: {
      image: url("../images/bg-curvy-mobile.svg");
      position: bottom 3000px left 0;

    }
  }
  &:after {
  
    height: 3000px;
   
  }
}
  .sign-up-section {
    width: 90%;
    padding: 30px;
  }
}

$mobile-breakpoint: 767px;
@media only screen and (max-width: $mobile-breakpoint) {
  .intro {
    .content {
      gap: 40px;
    }
    &__start-btn {
      max-width: 80%;
    }
  }
  .features {
    .content {
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 25px;
    }
  }
  .stay-productive {
    &__header {
      br {
        display: none;
      }
    }
    & .content {
      @include flexer(column, center, center, nowrap, 40px);
    }
  }
  .review-card {
    &:nth-child(1) {
      position: relative;
    }
    &:nth-child(1)::before {
      top: -45px;
      left: 0px;
      z-index: 1;
    }
  }
}
